{% trans_default_domain 'settings.main' %}

<div class="card w-100 border-light ">

    <div class="card-header border-light bg-body">
        <div class="card-title">
            <h4>
                Основные настройки
            </h4>
        </div>
    </div>

    <div class="card-body pb-0">

        <div class="d-flex flex-column gap-3">

            <div class="mb-3">
                <div class="img-container h-250px w-100">
                    <img id="crop_image"
                         class="h-250 img-fluid lazy"
                         data-src="/assets/img/logo.png"
                         src="/assets/img/empty.webp">
                </div>
            </div>

            {#    {{ form_row(form.color) }} #}
            <div class="d-flex justify-content-between align-items-end gap-3">

                <div class="w-100">
                    {{ form_row(form.color, {
                        label: 'Цвет сайта',
                        attr: { 'data-select' : 'select2'}

                    }) }}
                </div>

                <div class="mb-3">
                    <input type="color" class="form-control form-control-color"
                           id="color"
                           value="#{{ form.color.vars.data ?: '0000FF' }}"
                           title="Цвет">
                </div>

                {# <button type="button" class="btn  btn-light" aria-label="Close" style="width: 50 he">&nbsp;</button> #}

            </div>
        </div>

    </div>
</div>